<component name="ArtifactManager">
  <artifact type="war" name="springdatajpaDemo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springdatajpaDemo.war">
      <element id="artifact" artifact-name="springdatajpaDemo:war exploded" />
    </root>
  </artifact>
</component>